<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678518042574-qgofc9m6r03kst20ijkqqm55u3sq6mjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678518042574-qgofc9m6r03kst20ijkqqm55u3sq6mjr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>678518042574-cijamkrvejmhu1e4vsr6685f54km1t5s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGg9BC4PcZ3x8I-YdJw_WasiJj5Sj_4KA</string>
	<key>GCM_SENDER_ID</key>
	<string>678518042574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainschild.wssprtcl</string>
	<key>PROJECT_ID</key>
	<string>brainschildapps</string>
	<key>STORAGE_BUCKET</key>
	<string>brainschildapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678518042574:ios:b6ba4fa87657fff02e459f</string>
</dict>
</plist>